Package: com.chr1s.vibin
Name: Vibin
Version: 1.0.0
Architecture: iphoneos-arm
Description: Don't disrupt the vibe
Maintainer: Chr1s
Author: Chr1s
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
